# Spark DataFrame Basics II

<p>Obs.: After download the databricks notebook to .ipynb we have problems in the output format but if you run this notebook in a databricks cluster you'll have a output in a table format.</p>

<p>E.g.:</p>
<p>The following output:</p>
<p>+----+-------+ age| name| +----+-------+ null|Michael| 30| Andy| 19| Justin| +----+-------+</p>
<p>actually is:</p>
<pre>+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+  </pre>

### Create session and Load the data

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('ops').getOrCreate()

In [3]:
df = spark.read.csv('/FileStore/tables/appl_stock.csv', inferSchema=True, header=True)

In [4]:
df.printSchema()

In [5]:
df.show()

In [6]:
df.head(3)[0]

### Use filter function

In [7]:
df.filter("Close < 500").select(['Open', 'Close']).show()

In [8]:
df.filter(df['Close'] < 500).select('Volume').show()

In [9]:
df.filter((df['Close'] < 200) & ~(df['Open'] > 200)).show()

### Filter and return elements of the dataset as a array

In [10]:
result = df.filter(df['Low'] == 197.16).collect()
result

### Handle row as a dictionary

In [11]:
row = result[0]
row.asDict()['Volume']