# Spark DataFrame basics V - Dates and timestamps

<p>Obs.: After download the databricks notebook to .ipynb we have problems in the output format but if you run this notebook in a databricks cluster you'll have a output in a table format.</p>

<p>E.g.:</p>
<p>The following output:</p>
<p>+----+-------+ age| name| +----+-------+ null|Michael| 30| Andy| 19| Justin| +----+-------+</p>
<p>actually is:</p>
<pre>+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+  </pre>

### Create session and load data

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dates').getOrCreate()

In [3]:
df = spark.read.csv('/FileStore/tables/appl_stock.csv', header=True, inferSchema=True)

In [4]:
df.head(1)

In [5]:
df.select(['Date', 'Open']).show()

In [6]:
from pyspark.sql.functions import dayofmonth, hour, dayofyear, month, year, weekofyear, format_number, date_format

In [7]:
df.select(dayofmonth(df['Date'])).show()

In [8]:
new_df = df.withColumn('Year', year(df['Date']))

In [9]:
result = new_df.groupBy('Year').mean().select(['Year', 'avg(Close)'])

In [10]:
new = result.withColumnRenamed('avg(Close)', 'Average Closing Price')

In [11]:
new.select(['Year', format_number('Average Closing Price', 2).alias('Avg close')]).show()